# Import Packages

In [ ]:
import sys
print(sys.executable)

/home/denizgokalp.5/code/mitchell5/neo_bank/part_1-data_exploration/.venv/bin/python

In [1]:
#import data
import pandas as pd
import great_expectations as gx
import os

# Importing Data, Quick Look Through

## Devices

In [ ]:
devices=pd.read_csv("/home/eberniczky/code/neo_bank/data/raw/devices.csv")
devices.head()

  string_field_0 string_field_1
0          Apple      user_6809
1          Apple      user_3636
2          Apple       user_510
3          Apple      user_3468
4          Apple      user_7036

In [3]:
len(devices)

19431

In [4]:
devices=devices.drop_duplicates()

In [5]:
len(devices)

19431

In [6]:
devices.describe()

       string_field_0 string_field_1
count           19431          19431
unique              4          19431
top           Android      user_6809
freq             9714              1

In [7]:
devices.rename(columns={
    "string_field_0": "device_type",
    "string_field_1": "user_id"
},inplace=True)

In [8]:
devices['user_id'] = devices['user_id'].str.lstrip('user_')

In [9]:
devices.head()

  device_type user_id
0       Apple    6809
1       Apple    3636
2       Apple     510
3       Apple    3468
4       Apple    7036

## Transactions

In [10]:
# # very big file, will use parquet
# csv_path = "/home/neobanking2025/projects/neo_bank/data/raw/transactions.csv"
# parquet_path = "/home/neobanking2025/projects/neo_bank/data/raw/transactions.parquet"

# if os.path.exists(parquet_path):
#     # Load from Parquet cache â€” fast!
#     trans = pd.read_parquet(parquet_path)
# else:
#     # First time: read CSV (slow)
#     trans = pd.read_csv(csv_path)
#     # Save cache to Parquet for next time
#     trans.to_parquet(parquet_path, index=False)

In [ ]:
# very big file, will use parquet
parquet_path = "/home/eberniczky/code/neo_bank/data/raw/transactions.parquet"

trans = pd.read_parquet(parquet_path)

In [13]:
trans.head()

,transaction_id,transactions_type,transactions_currency,amount_usd,transactions_state,ea_cardholderpresence,ea_merchant_mcc,ea_merchant_city,ea_merchant_country,direction,user_id,created_date
0,transaction_1884,REFUND,AED,1.76,COMPLETED,None,NaN,None,None,INBOUND,user_8098,2018-09-25 16:03:40.978243 UTC
1,transaction_1728,REFUND,AED,639.31,COMPLETED,None,NaN,None,None,INBOUND,user_182,2018-03-31 13:45:25.262231 UTC
2,transaction_1755782,REFUND,AED,3.49,COMPLETED,None,NaN,None,None,INBOUND,user_14271,2018-11-17 16:47:25.748975 UTC
3,transaction_1973,TOPUP,AED,6079.39,COMPLETED,None,NaN,None,None,INBOUND,user_4773,2018-08-13 21:51:28.670363 UTC
4,transaction_1716,TOPUP,AED,206.65,COMPLETED,None,NaN,None,None,INBOUND,user_1363,2018-10-30 14:34:57.479895 UTC

In [14]:
len(trans)

2740075

In [15]:
trans=trans.drop_duplicates()

In [16]:
len(trans)

2740075

In [17]:
trans.describe()

         amount_usd  ea_merchant_mcc
count  2.740075e+06     1.581417e+06
mean   1.703225e+05     5.699736e+03
std    9.634014e+07     9.493660e+02
min    0.000000e+00     7.420000e+02
25%    2.030000e+00     5.411000e+03
50%    8.510000e+00     5.812000e+03
75%    2.822000e+01     5.921000e+03
max    8.510645e+10     9.406000e+03

In [18]:
trans['transaction_id'] = trans['transaction_id'].str.lstrip('transaction_')

In [19]:
trans['user_id'] = trans['user_id'].str.lstrip('user_')

In [20]:
trans.head()

,transaction_id,transactions_type,transactions_currency,amount_usd,transactions_state,ea_cardholderpresence,ea_merchant_mcc,ea_merchant_city,ea_merchant_country,direction,user_id,created_date
0,1884,REFUND,AED,1.76,COMPLETED,None,NaN,None,None,INBOUND,8098,2018-09-25 16:03:40.978243 UTC
1,1728,REFUND,AED,639.31,COMPLETED,None,NaN,None,None,INBOUND,182,2018-03-31 13:45:25.262231 UTC
2,1755782,REFUND,AED,3.49,COMPLETED,None,NaN,None,None,INBOUND,14271,2018-11-17 16:47:25.748975 UTC
3,1973,TOPUP,AED,6079.39,COMPLETED,None,NaN,None,None,INBOUND,4773,2018-08-13 21:51:28.670363 UTC
4,1716,TOPUP,AED,206.65,COMPLETED,None,NaN,None,None,INBOUND,1363,2018-10-30 14:34:57.479895 UTC

## Users

In [ ]:
users=pd.read_csv("/home/eberniczky/code/neo_bank/data/raw/users.csv")
users.head()

,user_id,birth_year,country,city,created_date,user_settings_crypto_unlocked,plan,attributes_notifications_marketing_push,attributes_notifications_marketing_email,num_contacts,num_referrals,num_successful_referrals
0,user_2811,1988,IE,C,2018-03-04 21:46:39.616834 UTC,0,STANDARD,NaN,NaN,0,0,0
1,user_4750,1987,FR,Ry,2018-04-07 06:49:18.345736 UTC,0,STANDARD,NaN,NaN,0,0,0
2,user_17686,1984,GB,Ayr,2018-12-04 10:28:02.653147 UTC,0,PREMIUM,NaN,NaN,6,0,0
3,user_18779,1965,GB,Ayr,2018-12-31 07:42:19.353613 UTC,0,STANDARD,NaN,NaN,0,0,0
4,user_7823,1999,PL,Buk,2018-06-07 03:22:40.590209 UTC,0,STANDARD,NaN,NaN,0,0,0

In [22]:
len(users)

19430

In [23]:
users=users.drop_duplicates()

In [24]:
len(users)

19430

In [25]:
users['user_id'] = users['user_id'].str.lstrip('user_')

In [26]:
users.head()

,user_id,birth_year,country,city,created_date,user_settings_crypto_unlocked,plan,attributes_notifications_marketing_push,attributes_notifications_marketing_email,num_contacts,num_referrals,num_successful_referrals
0,2811,1988,IE,C,2018-03-04 21:46:39.616834 UTC,0,STANDARD,NaN,NaN,0,0,0
1,4750,1987,FR,Ry,2018-04-07 06:49:18.345736 UTC,0,STANDARD,NaN,NaN,0,0,0
2,17686,1984,GB,Ayr,2018-12-04 10:28:02.653147 UTC,0,PREMIUM,NaN,NaN,6,0,0
3,18779,1965,GB,Ayr,2018-12-31 07:42:19.353613 UTC,0,STANDARD,NaN,NaN,0,0,0
4,7823,1999,PL,Buk,2018-06-07 03:22:40.590209 UTC,0,STANDARD,NaN,NaN,0,0,0

In [27]:
# converting date field
users['created_date'] = pd.to_datetime(users['created_date'],errors='coerce').dt.tz_localize(None)

In [28]:
# convert to int64
users['user_id'] = pd.to_numeric(users['user_id'], errors='coerce').astype('Int64')

In [29]:
users.dtypes

user_id                                              Int64
birth_year                                           int64
country                                             object
city                                                object
created_date                                datetime64[ns]
user_settings_crypto_unlocked                        int64
plan                                                object
attributes_notifications_marketing_push            float64
attributes_notifications_marketing_email           float64
num_contacts                                         int64
num_referrals                                        int64
num_successful_referrals                             int64
dtype: object

## Notifications

In [ ]:
notifs=pd.read_csv("/home/eberniczky/code/neo_bank/data/raw/notifications.csv")
notifs.head()

,reason,channel,status,user_id,created_date
0,METAL_RESERVE_PLAN,SMS,SENT,user_4703,2018-10-14 01:48:13.319987 UTC
1,METAL_RESERVE_PLAN,SMS,SENT,user_2397,2018-10-17 08:07:05.709072 UTC
2,METAL_RESERVE_PLAN,SMS,SENT,user_2411,2018-10-14 03:46:34.244392 UTC
3,METAL_RESERVE_PLAN,SMS,SENT,user_1119,2018-10-14 14:16:35.801185 UTC
4,METAL_RESERVE_PLAN,SMS,SENT,user_3499,2018-10-14 18:41:09.268675 UTC

In [31]:
len(notifs)

121813

In [32]:
notifs=notifs.drop_duplicates()

In [33]:
len(notifs)

121813

In [34]:
# cleaning user_id
notifs['user_id'] = notifs['user_id'].str.lstrip('user_')

In [35]:
# converting date field
notifs['created_date'] = pd.to_datetime(notifs['created_date'],errors='coerce').dt.tz_localize(None)

In [36]:
notifs.head()

               reason channel status user_id               created_date
0  METAL_RESERVE_PLAN     SMS   SENT    4703 2018-10-14 01:48:13.319987
1  METAL_RESERVE_PLAN     SMS   SENT    2397 2018-10-17 08:07:05.709072
2  METAL_RESERVE_PLAN     SMS   SENT    2411 2018-10-14 03:46:34.244392
3  METAL_RESERVE_PLAN     SMS   SENT    1119 2018-10-14 14:16:35.801185
4  METAL_RESERVE_PLAN     SMS   SENT    3499 2018-10-14 18:41:09.268675

# Creating Expectations

In [37]:
context = gx.get_context()

## Devices

In [38]:
devices.head()

  device_type user_id
0       Apple    6809
1       Apple    3636
2       Apple     510
3       Apple    3468
4       Apple    7036

In [39]:
devices['device_type'].unique()

array(['Apple', 'brand', 'Android', 'Unknown'], dtype=object)

In [40]:
#since we don't know what "brand" is, let's change it to "unknown" as well

In [41]:
devices["device_type"] = devices["device_type"].replace("brand", "Unknown")

In [42]:
devices['device_type'].unique()

array(['Apple', 'Unknown', 'Android'], dtype=object)

In [ ]:
# Check if all user_id s are numeric
mask = devices['user_id'].str.isnumeric()
all_numeric = mask.all()
all_numeric

In [ ]:
#  Drop rows where user_id is NaN
devices['user_id'] = pd.to_numeric(devices['user_id'], errors='coerce')
devices = devices.dropna(subset=['user_id'])

In [ ]:
# Convert to integer if all values are now valid
devices['user_id'] = devices['user_id'].astype('Int64')

In [44]:
devices.head()

  device_type  user_id
0       Apple     6809
1       Apple     3636
2       Apple      510
3       Apple     3468
4       Apple     7036

In [ ]:
#creates new cleaned parquet file
devices.to_parquet("/home/eberniczky/code/neo_bank/data/cleaned/devices.parquet", index=False)

In [46]:
#checking that all user_ids are a standard length
lengths = devices["user_id"].astype(str).str.len()

min_len = lengths.min()
max_len = lengths.max()

print(f"Min length: {min_len}")
print(f"Max length: {max_len}")

Min length: 1
Max length: 5

In [47]:
print("User IDs with the shortest length:")
print(devices[devices["user_id"].astype(str).str.len() == min_len]["user_id"].unique())

User IDs with the shortest length:
<IntegerArray>
[1, 6, 4, 0, 5, 3, 7, 9, 8, 2]
Length: 10, dtype: Int64

In [48]:
print("User IDs with the longest length:")
print(devices[devices["user_id"].astype(str).str.len() == max_len]["user_id"].unique())

User IDs with the longest length:
<IntegerArray>
[11885, 15533, 11964, 10670, 19220, 14587, 15593, 12295, 12617, 18270,
 ...
 13121, 15790, 10442, 15105, 10984, 13531, 12568, 12296, 19056, 12199]
Length: 9430, dtype: Int64

In [49]:
########

In [50]:
devices.head()

  device_type  user_id
0       Apple     6809
1       Apple     3636
2       Apple      510
3       Apple     3468
4       Apple     7036

In [ ]:
validator = context.sources.pandas_default.read_parquet("/home/eberniczky/code/neo_bank/data/cleaned/devices.parquet")

In [52]:
validator.expect_column_values_to_not_be_null("device_type")

Calculating Metrics:   0%|          | 0/6 [00:00<?, ?it/s]

{
  "success": true,
  "result": {
    "element_count": 19431,
    "unexpected_count": 0,
    "unexpected_percent": 0.0,
    "partial_unexpected_list": []
  },
  "meta": {},
  "exception_info": {
    "raised_exception": false,
    "exception_traceback": null,
    "exception_message": null
  }
}

In [ ]:
validator.expect_column_values_to_not_be_null("user_id")

Calculating Metrics:   0%|          | 0/6 [00:00<?, ?it/s]

{
  "success": false,
  "result": {
    "element_count": 19431,
    "unexpected_count": 1,
    "unexpected_percent": 0.0051464155215892125,
    "partial_unexpected_list": [
      null
    ]
  },
  "meta": {},
  "exception_info": {
    "raised_exception": false,
    "exception_traceback": null,
    "exception_message": null
  }
}

In [ ]:
validator.expect_column_distinct_values_to_be_in_set(
    column="device_type",
    value_set=["Android","Apple","Unknown"]
)

Calculating Metrics:   0%|          | 0/4 [00:00<?, ?it/s]

{
  "success": true,
  "result": {
    "observed_value": [
      "Android",
      "Apple",
      "Unknown"
    ],
    "details": {
      "value_counts": [
        {
          "value": "Android",
          "count": 9714
        },
        {
          "value": "Apple",
          "count": 9673
        },
        {
          "value": "Unknown",
          "count": 44
        }
      ]
    }
  },
  "meta": {},
  "exception_info": {
    "raised_exception": false,
    "exception_traceback": null,
    "exception_message": null
  }
}

In [ ]:
validator.expect_column_values_to_match_regex(
    column="user_id",
    regex=r"^user_"
)

Calculating Metrics:   0%|          | 0/8 [00:00<?, ?it/s]

{
  "success": false,
  "result": {
    "element_count": 19431,
    "unexpected_count": 19430,
    "unexpected_percent": 100.0,
    "partial_unexpected_list": [
      6809,
      3636,
      510,
      3468,
      7036,
      5108,
      2843,
      6985,
      8180,
      8542,
      8874,
      1500,
      4349,
      7144,
      2616,
      6959,
      1778,
      11,
      6096,
      5014
    ],
    "missing_count": 1,
    "missing_percent": 0.0051464155215892125,
    "unexpected_percent_total": 99.99485358447842,
    "unexpected_percent_nonmissing": 100.0
  },
  "meta": {},
  "exception_info": {
    "raised_exception": false,
    "exception_traceback": null,
    "exception_message": null
  }
}

In [ ]:
validator.expect_column_value_lengths_to_be_between(
    column="user_id",
    min_value=6,
    max_value=10
)

Calculating Metrics:   0%|          | 0/9 [00:00<?, ?it/s]

{
  "success": false,
  "result": {
    "element_count": 19431,
    "unexpected_count": 19430,
    "unexpected_percent": 100.0,
    "partial_unexpected_list": [
      6809,
      3636,
      510,
      3468,
      7036,
      5108,
      2843,
      6985,
      8180,
      8542,
      8874,
      1500,
      4349,
      7144,
      2616,
      6959,
      1778,
      11,
      6096,
      5014
    ],
    "missing_count": 1,
    "missing_percent": 0.0051464155215892125,
    "unexpected_percent_total": 99.99485358447842,
    "unexpected_percent_nonmissing": 100.0
  },
  "meta": {},
  "exception_info": {
    "raised_exception": false,
    "exception_traceback": null,
    "exception_message": null
  }
}

## Transactions

In [ ]:
trans.head()

,transaction_id,transactions_type,transactions_currency,amount_usd,transactions_state,ea_cardholderpresence,ea_merchant_mcc,ea_merchant_city,ea_merchant_country,direction,user_id,created_date
0,1884,REFUND,AED,1.76,COMPLETED,None,NaN,None,None,INBOUND,8098,2018-09-25 16:03:40.978243 UTC
1,1728,REFUND,AED,639.31,COMPLETED,None,NaN,None,None,INBOUND,182,2018-03-31 13:45:25.262231 UTC
2,1755782,REFUND,AED,3.49,COMPLETED,None,NaN,None,None,INBOUND,14271,2018-11-17 16:47:25.748975 UTC
3,1973,TOPUP,AED,6079.39,COMPLETED,None,NaN,None,None,INBOUND,4773,2018-08-13 21:51:28.670363 UTC
4,1716,TOPUP,AED,206.65,COMPLETED,None,NaN,None,None,INBOUND,1363,2018-10-30 14:34:57.479895 UTC

In [ ]:
trans['transactions_type'].unique()

array(['REFUND', 'TOPUP', 'EXCHANGE', 'TRANSFER', 'CARD_PAYMENT',
       'CARD_REFUND', 'ATM', 'FEE', 'CASHBACK', 'TAX'], dtype=object)

In [ ]:
trans['transactions_currency'].unique()

array(['AED', 'AUD', 'BCH', 'BGN', 'BTC', 'CAD', 'CHF', 'CZK', 'DKK',
       'ETH', 'EUR', 'GBP', 'HKD', 'HRK', 'HUF', 'ILS', 'INR', 'JPY',
       'LTC', 'MAD', 'MXN', 'NOK', 'NZD', 'PLN', 'QAR', 'RON', 'RUB',
       'SAR', 'SEK', 'SGD', 'THB', 'TRY', 'USD', 'XRP', 'ZAR'],
      dtype=object)

In [ ]:
trans['amount_usd'].max()

85106453190.03

In [ ]:
trans['amount_usd'].min()

0.0

In [ ]:
trans.dtypes

transaction_id            object
transactions_type         object
transactions_currency     object
amount_usd               float64
transactions_state        object
ea_cardholderpresence     object
ea_merchant_mcc          float64
ea_merchant_city          object
ea_merchant_country       object
direction                 object
user_id                   object
created_date              object
dtype: object

In [ ]:
trans['created_date'] = pd.to_datetime(trans['created_date'],errors='coerce').dt.tz_localize(None)

In [ ]:
len(trans['created_date'])

2740075

In [ ]:
trans = trans.dropna(subset=['created_date'])

In [ ]:
trans.head()

,transaction_id,transactions_type,transactions_currency,amount_usd,transactions_state,ea_cardholderpresence,ea_merchant_mcc,ea_merchant_city,ea_merchant_country,direction,user_id,created_date
0,1884,REFUND,AED,1.76,COMPLETED,None,NaN,None,None,INBOUND,8098,2018-09-25 16:03:40.978243
1,1728,REFUND,AED,639.31,COMPLETED,None,NaN,None,None,INBOUND,182,2018-03-31 13:45:25.262231
2,1755782,REFUND,AED,3.49,COMPLETED,None,NaN,None,None,INBOUND,14271,2018-11-17 16:47:25.748975
3,1973,TOPUP,AED,6079.39,COMPLETED,None,NaN,None,None,INBOUND,4773,2018-08-13 21:51:28.670363
4,1716,TOPUP,AED,206.65,COMPLETED,None,NaN,None,None,INBOUND,1363,2018-10-30 14:34:57.479895

In [ ]:
trans.dtypes

transaction_id                   object
transactions_type                object
transactions_currency            object
amount_usd                      float64
transactions_state               object
ea_cardholderpresence            object
ea_merchant_mcc                 float64
ea_merchant_city                 object
ea_merchant_country              object
direction                        object
user_id                          object
created_date             datetime64[ns]
dtype: object

In [ ]:
trans['transactions_state'].unique()

array(['COMPLETED', 'CANCELLED', 'DECLINED', 'PENDING', 'REVERTED',
       'FAILED'], dtype=object)

In [ ]:
trans['ea_cardholderpresence'] = trans['ea_cardholderpresence'].astype('bool')

In [ ]:
trans['ea_cardholderpresence'].unique()

array([False,  True])

In [ ]:
trans['ea_merchant_mcc'].unique()[:5]
#drop

array([  nan, 9222., 4111., 4112., 5651.])

In [ ]:
uv = trans['ea_merchant_city'].unique()[:5]
print(list(uv))
#drop

[None, 'Dubai', 'tfl.gov.uk/cp', 'Stockholm', 'M?nchen-flugh']

In [ ]:
trans['ea_merchant_country'].unique()

array([None, 'ARE', 'GBR', 'SWE', 'DEU', 'FRA', 'EST', 'NLD', 'POL',
       'ISL', 'ESP', 'USA', 'LUX', 'DNK', 'IRL', 'JOR', 'ROM', 'ITA',
       'LTU', 'AUS', 'HKG', 'SGP', 'NZL', 'FJI', 'IDN', 'CHE', 'MYS',
       'CHN', 'VNM', 'BGR', 'MNE', 'NOR', 'ISR', 'BEL', 'CYP', 'CZE',
       'ROU', 'GIB', 'EGY', 'PRT', 'CAN', 'ZAF', 'MEX', 'COL', 'PER',
       'ARG', 'HUN', 'LKA', 'BOL', 'BRA', 'LVA', 'THA', 'RUS', 'FIN',
       'AUT', 'HRV', 'GRC', 'JPN', 'REU', 'SRB', 'BIH', 'CHL', 'TTO',
       'LBN', 'IND', 'KAZ', 'CRI', 'TWN', 'TUR', 'URY', 'AND', 'QAT',
       'LIE', 'BHS', 'MAR', 'MUS', 'OMN', 'MLT', 'BMU', 'UGA', 'ARM',
       'SYC', 'PHL', 'KEN', 'MCO', 'MDV', 'UZB', 'GEO', 'ETH', 'MOZ',
       'TCA', 'NPL', 'JAM', 'CUB', 'LAO', 'UKR', 'KHM', 'SVN', 'VCT',
       'SVK', 'BLR', 'PAN', 'MMR', 'DOM', 'TZA', 'ECU', 'MKD', 'VAT',
       'HND', 'GTM', 'PYF', 'KOR', 'SXM', 'MTQ', 'PRI', 'GLP', 'MNG',
       'TUN', 'NGA', 'AGO', 'VEN', 'SAU', 'NER', 'ATG', 'MDA', 'MYT',
       'PRY', 'SEN', 'NCL', 'CIV', 'KGZ', 'ZWE', 'BLZ', 'BWA', 'COK',
       'NAM', 'BHR', 'AZE', 'FRO', 'GIN', 'BRB', 'KWT', 'ALB', 'PSE',
       'SMR', 'MDG', 'CUW', 'CYM', 'LCA', 'BFA', 'QZZ', 'ZMB', 'NIC',
       'SLV', 'GUF', 'VIR', 'MAC', 'BEN', 'ZAR', 'CPV', 'GHA', 'SUR',
       'CMR', 'GNQ', 'COD', 'GAB', 'DZA', 'ANT', 'GMB', 'PCN', 'PAK',
       'TCD', 'APT', 'GGY', 'RWA', 'DMA', 'TGO', 'HMD', 'GUY', 'AGB',
       'MAF', 'BRN', 'IMN', 'ABW', 'TKM', 'BGD', 'JEY', 'MWI', 'GRD',
       'KNA', 'VUT', 'PGB', 'VGB', 'SWZ', 'LSO', 'AIA', 'TON', 'SGB',
       'SCH'], dtype=object)

In [ ]:
trans['ea_merchant_country'] = trans['ea_merchant_country'].fillna("UNKNOWN")

In [ ]:
trans['direction'].unique()

array(['INBOUND', 'OUTBOUND'], dtype=object)

In [ ]:
trans.head(1)

,transaction_id,transactions_type,transactions_currency,amount_usd,transactions_state,ea_cardholderpresence,ea_merchant_mcc,ea_merchant_city,ea_merchant_country,direction,user_id,created_date
0,1884,REFUND,AED,1.76,COMPLETED,False,NaN,None,UNKNOWN,INBOUND,8098,2018-09-25 16:03:40.978243

In [ ]:
#drop some columns we don't need
trans = trans.drop(["ea_merchant_city", "ea_merchant_mcc"], axis=1)

In [ ]:
# convert id fields to integer as well
trans['transaction_id'] = trans['transaction_id'].astype('int64')
trans['user_id'] = trans['user_id'].astype('int64')

In [ ]:
trans.dtypes

transaction_id                    int64
transactions_type                object
transactions_currency            object
amount_usd                      float64
transactions_state               object
ea_cardholderpresence              bool
ea_merchant_country              object
direction                        object
user_id                           int64
created_date             datetime64[ns]
dtype: object

In [ ]:
#creates new clean file
trans.to_parquet("/home/eberniczky/code/neo_bank/data/cleaned/transactions.parquet", index=False)

In [ ]:
#######

In [ ]:
validator = context.sources.pandas_default.read_parquet("/home/eberniczky/code/neo_bank/data/cleaned/transactions.parquet")

In [ ]:
trans.head(2)

,transaction_id,transactions_type,transactions_currency,amount_usd,transactions_state,ea_cardholderpresence,ea_merchant_country,direction,user_id,created_date
0,1884,REFUND,AED,1.76,COMPLETED,False,UNKNOWN,INBOUND,8098,2018-09-25 16:03:40.978243
1,1728,REFUND,AED,639.31,COMPLETED,False,UNKNOWN,INBOUND,182,2018-03-31 13:45:25.262231

In [ ]:
for col in ["created_date", "user_id", "transaction_id","transactions_type","transactions_currency","amount_usd","transactions_state","ea_cardholderpresence","ea_merchant_country"]:
    result = validator.expect_column_values_to_not_be_null(col)
    print(f"Expectation for '{col}':", result)

Calculating Metrics:   0%|          | 0/6 [00:00<?, ?it/s]

Expectation for 'created_date': {
  "success": true,
  "expectation_config": {
    "expectation_type": "expect_column_values_to_not_be_null",
    "kwargs": {
      "column": "created_date",
      "batch_id": "default_pandas_datasource-#ephemeral_pandas_asset"
    },
    "meta": {}
  },
  "result": {
    "element_count": 2740071,
    "unexpected_count": 0,
    "unexpected_percent": 0.0,
    "partial_unexpected_list": []
  },
  "meta": {},
  "exception_info": {
    "raised_exception": false,
    "exception_traceback": null,
    "exception_message": null
  }
}

Calculating Metrics:   0%|          | 0/6 [00:00<?, ?it/s]

Expectation for 'user_id': {
  "success": true,
  "expectation_config": {
    "expectation_type": "expect_column_values_to_not_be_null",
    "kwargs": {
      "column": "user_id",
      "batch_id": "default_pandas_datasource-#ephemeral_pandas_asset"
    },
    "meta": {}
  },
  "result": {
    "element_count": 2740071,
    "unexpected_count": 0,
    "unexpected_percent": 0.0,
    "partial_unexpected_list": []
  },
  "meta": {},
  "exception_info": {
    "raised_exception": false,
    "exception_traceback": null,
    "exception_message": null
  }
}

Calculating Metrics:   0%|          | 0/6 [00:00<?, ?it/s]

Expectation for 'transaction_id': {
  "success": true,
  "expectation_config": {
    "expectation_type": "expect_column_values_to_not_be_null",
    "kwargs": {
      "column": "transaction_id",
      "batch_id": "default_pandas_datasource-#ephemeral_pandas_asset"
    },
    "meta": {}
  },
  "result": {
    "element_count": 2740071,
    "unexpected_count": 0,
    "unexpected_percent": 0.0,
    "partial_unexpected_list": []
  },
  "meta": {},
  "exception_info": {
    "raised_exception": false,
    "exception_traceback": null,
    "exception_message": null
  }
}

Calculating Metrics:   0%|          | 0/6 [00:00<?, ?it/s]

Expectation for 'transactions_type': {
  "success": true,
  "expectation_config": {
    "expectation_type": "expect_column_values_to_not_be_null",
    "kwargs": {
      "column": "transactions_type",
      "batch_id": "default_pandas_datasource-#ephemeral_pandas_asset"
    },
    "meta": {}
  },
  "result": {
    "element_count": 2740071,
    "unexpected_count": 0,
    "unexpected_percent": 0.0,
    "partial_unexpected_list": []
  },
  "meta": {},
  "exception_info": {
    "raised_exception": false,
    "exception_traceback": null,
    "exception_message": null
  }
}

Calculating Metrics:   0%|          | 0/6 [00:00<?, ?it/s]

Expectation for 'transactions_currency': {
  "success": true,
  "expectation_config": {
    "expectation_type": "expect_column_values_to_not_be_null",
    "kwargs": {
      "column": "transactions_currency",
      "batch_id": "default_pandas_datasource-#ephemeral_pandas_asset"
    },
    "meta": {}
  },
  "result": {
    "element_count": 2740071,
    "unexpected_count": 0,
    "unexpected_percent": 0.0,
    "partial_unexpected_list": []
  },
  "meta": {},
  "exception_info": {
    "raised_exception": false,
    "exception_traceback": null,
    "exception_message": null
  }
}

Calculating Metrics:   0%|          | 0/6 [00:00<?, ?it/s]

Expectation for 'amount_usd': {
  "success": true,
  "expectation_config": {
    "expectation_type": "expect_column_values_to_not_be_null",
    "kwargs": {
      "column": "amount_usd",
      "batch_id": "default_pandas_datasource-#ephemeral_pandas_asset"
    },
    "meta": {}
  },
  "result": {
    "element_count": 2740071,
    "unexpected_count": 0,
    "unexpected_percent": 0.0,
    "partial_unexpected_list": []
  },
  "meta": {},
  "exception_info": {
    "raised_exception": false,
    "exception_traceback": null,
    "exception_message": null
  }
}

Calculating Metrics:   0%|          | 0/6 [00:00<?, ?it/s]

Expectation for 'transactions_state': {
  "success": true,
  "expectation_config": {
    "expectation_type": "expect_column_values_to_not_be_null",
    "kwargs": {
      "column": "transactions_state",
      "batch_id": "default_pandas_datasource-#ephemeral_pandas_asset"
    },
    "meta": {}
  },
  "result": {
    "element_count": 2740071,
    "unexpected_count": 0,
    "unexpected_percent": 0.0,
    "partial_unexpected_list": []
  },
  "meta": {},
  "exception_info": {
    "raised_exception": false,
    "exception_traceback": null,
    "exception_message": null
  }
}

Calculating Metrics:   0%|          | 0/6 [00:00<?, ?it/s]

Expectation for 'ea_cardholderpresence': {
  "success": true,
  "expectation_config": {
    "expectation_type": "expect_column_values_to_not_be_null",
    "kwargs": {
      "column": "ea_cardholderpresence",
      "batch_id": "default_pandas_datasource-#ephemeral_pandas_asset"
    },
    "meta": {}
  },
  "result": {
    "element_count": 2740071,
    "unexpected_count": 0,
    "unexpected_percent": 0.0,
    "partial_unexpected_list": []
  },
  "meta": {},
  "exception_info": {
    "raised_exception": false,
    "exception_traceback": null,
    "exception_message": null
  }
}

Calculating Metrics:   0%|          | 0/6 [00:00<?, ?it/s]

Expectation for 'ea_merchant_country': {
  "success": true,
  "expectation_config": {
    "expectation_type": "expect_column_values_to_not_be_null",
    "kwargs": {
      "column": "ea_merchant_country",
      "batch_id": "default_pandas_datasource-#ephemeral_pandas_asset"
    },
    "meta": {}
  },
  "result": {
    "element_count": 2740071,
    "unexpected_count": 0,
    "unexpected_percent": 0.0,
    "partial_unexpected_list": []
  },
  "meta": {},
  "exception_info": {
    "raised_exception": false,
    "exception_traceback": null,
    "exception_message": null
  }
}

In [ ]:
validator.expect_column_values_to_be_unique(column='transaction_id')

Calculating Metrics:   0%|          | 0/8 [00:00<?, ?it/s]

{
  "success": true,
  "result": {
    "element_count": 2740071,
    "unexpected_count": 0,
    "unexpected_percent": 0.0,
    "partial_unexpected_list": [],
    "missing_count": 0,
    "missing_percent": 0.0,
    "unexpected_percent_total": 0.0,
    "unexpected_percent_nonmissing": 0.0
  },
  "meta": {},
  "exception_info": {
    "raised_exception": false,
    "exception_traceback": null,
    "exception_message": null
  }
}

In [ ]:
validator.expect_column_values_to_be_unique(column='user_id')

Calculating Metrics:   0%|          | 0/8 [00:00<?, ?it/s]

{
  "success": false,
  "result": {
    "element_count": 2740071,
    "unexpected_count": 2739825,
    "unexpected_percent": 99.99102213044844,
    "partial_unexpected_list": [
      8098,
      182,
      14271,
      4773,
      1363,
      4773,
      13141,
      4773,
      16303,
      4773,
      4773,
      5496,
      13246,
      6009,
      6009,
      10943,
      6009,
      4399,
      5718,
      1363
    ],
    "missing_count": 0,
    "missing_percent": 0.0,
    "unexpected_percent_total": 99.99102213044844,
    "unexpected_percent_nonmissing": 99.99102213044844
  },
  "meta": {},
  "exception_info": {
    "raised_exception": false,
    "exception_traceback": null,
    "exception_message": null
  }
}

In [ ]:
trans['created_date'].min()

Timestamp('2018-01-01 08:51:10.248709')

In [ ]:
trans['created_date'].max()

Timestamp('2019-05-16 18:22:16.959896')

In [ ]:
trans['created_date'].isnull().sum()

0

In [ ]:
trans['ea_cardholderpresence'].isnull().sum()

0

## Users

In [ ]:
users.head()

,user_id,birth_year,country,city,created_date,user_settings_crypto_unlocked,plan,attributes_notifications_marketing_push,attributes_notifications_marketing_email,num_contacts,num_referrals,num_successful_referrals
0,2811,1988,IE,C,2018-03-04 21:46:39.616834,0,STANDARD,NaN,NaN,0,0,0
1,4750,1987,FR,Ry,2018-04-07 06:49:18.345736,0,STANDARD,NaN,NaN,0,0,0
2,17686,1984,GB,Ayr,2018-12-04 10:28:02.653147,0,PREMIUM,NaN,NaN,6,0,0
3,18779,1965,GB,Ayr,2018-12-31 07:42:19.353613,0,STANDARD,NaN,NaN,0,0,0
4,7823,1999,PL,Buk,2018-06-07 03:22:40.590209,0,STANDARD,NaN,NaN,0,0,0

In [ ]:
users['birth_year'].min()

1929

In [ ]:
users['birth_year'].max()

2001

In [ ]:
users.drop(columns={'city'},inplace=True)

In [ ]:
users['plan'].unique()

array(['STANDARD', 'PREMIUM', 'METAL', 'METAL_FREE', 'PREMIUM_OFFER',
       'PREMIUM_FREE'], dtype=object)

In [ ]:
users['user_settings_crypto_unlocked'].unique()

array([0, 1])

In [ ]:
users['user_settings_crypto_unlocked'] = users['user_settings_crypto_unlocked'].astype('boolean')

In [ ]:
users['attributes_notifications_marketing_push'].unique()

array([nan,  1.,  0.])

In [ ]:
users['attributes_notifications_marketing_push'] = users['attributes_notifications_marketing_push'].round().astype('boolean')

In [ ]:
users['attributes_notifications_marketing_email'].unique()

array([nan,  0.,  1.])

In [ ]:
users['attributes_notifications_marketing_email'] = users['attributes_notifications_marketing_email'].astype('boolean')

In [ ]:
users['num_contacts'].min()

0

In [ ]:
users['num_contacts'].max()

2918

In [ ]:
users['num_referrals'].unique()

array([0])

In [ ]:
users['num_referrals'].min()

0

In [ ]:
users['num_referrals'].max()

0

In [ ]:
users.drop(columns={'num_referrals'},inplace=True)

In [ ]:
users['num_successful_referrals'].min()

0

In [ ]:
users['num_successful_referrals'].max()

0

In [ ]:
users.drop(columns={'num_successful_referrals'},inplace=True)

In [ ]:
users['country'].unique()

array(['IE', 'FR', 'GB', 'PL', 'ES', 'NO', 'BE', 'SI', 'IT', 'RO', 'CH',
       'DE', 'CZ', 'HU', 'GR', 'NL', 'MT', 'SE', 'PT', 'LT', 'FI', 'LV',
       'EE', 'AT', 'CY', 'HR', 'LU', 'BG', 'DK', 'GG', 'GP', 'JE', 'AU',
       'SK', 'LI', 'IM', 'IS', 'GI', 'MQ', 'GF', 'RE'], dtype=object)

In [ ]:
users['created_date'].min()

Timestamp('2018-01-01 08:42:24.799709')

In [ ]:
users['created_date'].max()

Timestamp('2019-01-03 07:34:36.638892')

In [ ]:
#creates new clean file
users.to_parquet("/home/eberniczky/code/neo_bank/data/cleaned/users.parquet", index=False)

In [ ]:
#####

In [ ]:
users.columns

Index(['user_id', 'birth_year', 'country', 'created_date',
       'user_settings_crypto_unlocked', 'plan',
       'attributes_notifications_marketing_push',
       'attributes_notifications_marketing_email', 'num_contacts'],
      dtype='object')

In [ ]:
validator = context.sources.pandas_default.read_parquet("/home/eberniczky/code/neo_bank/data/cleaned/users.parquet")

In [ ]:
for col in ["user_id", "birth_year","country","created_date","user_settings_crypto_unlocked","plan","num_contacts"]:
    result = validator.expect_column_values_to_not_be_null(col)
    print(f"Expectation for '{col}':", result)

Calculating Metrics:   0%|          | 0/6 [00:00<?, ?it/s]

Expectation for 'user_id': {
  "success": true,
  "expectation_config": {
    "expectation_type": "expect_column_values_to_not_be_null",
    "kwargs": {
      "column": "user_id",
      "batch_id": "default_pandas_datasource-#ephemeral_pandas_asset"
    },
    "meta": {}
  },
  "result": {
    "element_count": 19430,
    "unexpected_count": 0,
    "unexpected_percent": 0.0,
    "partial_unexpected_list": []
  },
  "meta": {},
  "exception_info": {
    "raised_exception": false,
    "exception_traceback": null,
    "exception_message": null
  }
}

Calculating Metrics:   0%|          | 0/6 [00:00<?, ?it/s]

Expectation for 'birth_year': {
  "success": true,
  "expectation_config": {
    "expectation_type": "expect_column_values_to_not_be_null",
    "kwargs": {
      "column": "birth_year",
      "batch_id": "default_pandas_datasource-#ephemeral_pandas_asset"
    },
    "meta": {}
  },
  "result": {
    "element_count": 19430,
    "unexpected_count": 0,
    "unexpected_percent": 0.0,
    "partial_unexpected_list": []
  },
  "meta": {},
  "exception_info": {
    "raised_exception": false,
    "exception_traceback": null,
    "exception_message": null
  }
}

Calculating Metrics:   0%|          | 0/6 [00:00<?, ?it/s]

Expectation for 'country': {
  "success": true,
  "expectation_config": {
    "expectation_type": "expect_column_values_to_not_be_null",
    "kwargs": {
      "column": "country",
      "batch_id": "default_pandas_datasource-#ephemeral_pandas_asset"
    },
    "meta": {}
  },
  "result": {
    "element_count": 19430,
    "unexpected_count": 0,
    "unexpected_percent": 0.0,
    "partial_unexpected_list": []
  },
  "meta": {},
  "exception_info": {
    "raised_exception": false,
    "exception_traceback": null,
    "exception_message": null
  }
}

Calculating Metrics:   0%|          | 0/6 [00:00<?, ?it/s]

Expectation for 'created_date': {
  "success": true,
  "expectation_config": {
    "expectation_type": "expect_column_values_to_not_be_null",
    "kwargs": {
      "column": "created_date",
      "batch_id": "default_pandas_datasource-#ephemeral_pandas_asset"
    },
    "meta": {}
  },
  "result": {
    "element_count": 19430,
    "unexpected_count": 0,
    "unexpected_percent": 0.0,
    "partial_unexpected_list": []
  },
  "meta": {},
  "exception_info": {
    "raised_exception": false,
    "exception_traceback": null,
    "exception_message": null
  }
}

Calculating Metrics:   0%|          | 0/6 [00:00<?, ?it/s]

Expectation for 'user_settings_crypto_unlocked': {
  "success": true,
  "expectation_config": {
    "expectation_type": "expect_column_values_to_not_be_null",
    "kwargs": {
      "column": "user_settings_crypto_unlocked",
      "batch_id": "default_pandas_datasource-#ephemeral_pandas_asset"
    },
    "meta": {}
  },
  "result": {
    "element_count": 19430,
    "unexpected_count": 0,
    "unexpected_percent": 0.0,
    "partial_unexpected_list": []
  },
  "meta": {},
  "exception_info": {
    "raised_exception": false,
    "exception_traceback": null,
    "exception_message": null
  }
}

Calculating Metrics:   0%|          | 0/6 [00:00<?, ?it/s]

Expectation for 'plan': {
  "success": true,
  "expectation_config": {
    "expectation_type": "expect_column_values_to_not_be_null",
    "kwargs": {
      "column": "plan",
      "batch_id": "default_pandas_datasource-#ephemeral_pandas_asset"
    },
    "meta": {}
  },
  "result": {
    "element_count": 19430,
    "unexpected_count": 0,
    "unexpected_percent": 0.0,
    "partial_unexpected_list": []
  },
  "meta": {},
  "exception_info": {
    "raised_exception": false,
    "exception_traceback": null,
    "exception_message": null
  }
}

Calculating Metrics:   0%|          | 0/6 [00:00<?, ?it/s]

Expectation for 'num_contacts': {
  "success": true,
  "expectation_config": {
    "expectation_type": "expect_column_values_to_not_be_null",
    "kwargs": {
      "column": "num_contacts",
      "batch_id": "default_pandas_datasource-#ephemeral_pandas_asset"
    },
    "meta": {}
  },
  "result": {
    "element_count": 19430,
    "unexpected_count": 0,
    "unexpected_percent": 0.0,
    "partial_unexpected_list": []
  },
  "meta": {},
  "exception_info": {
    "raised_exception": false,
    "exception_traceback": null,
    "exception_message": null
  }
}

In [ ]:
validator.expect_column_values_to_be_unique(column='user_id')

Calculating Metrics:   0%|          | 0/8 [00:00<?, ?it/s]

{
  "success": true,
  "result": {
    "element_count": 19430,
    "unexpected_count": 0,
    "unexpected_percent": 0.0,
    "partial_unexpected_list": [],
    "missing_count": 0,
    "missing_percent": 0.0,
    "unexpected_percent_total": 0.0,
    "unexpected_percent_nonmissing": 0.0
  },
  "meta": {},
  "exception_info": {
    "raised_exception": false,
    "exception_traceback": null,
    "exception_message": null
  }
}

## Notifications

In [ ]:
notifs.head()

               reason channel status user_id               created_date
0  METAL_RESERVE_PLAN     SMS   SENT    4703 2018-10-14 01:48:13.319987
1  METAL_RESERVE_PLAN     SMS   SENT    2397 2018-10-17 08:07:05.709072
2  METAL_RESERVE_PLAN     SMS   SENT    2411 2018-10-14 03:46:34.244392
3  METAL_RESERVE_PLAN     SMS   SENT    1119 2018-10-14 14:16:35.801185
4  METAL_RESERVE_PLAN     SMS   SENT    3499 2018-10-14 18:41:09.268675

In [ ]:
notifs['reason'].unique()

array(['METAL_RESERVE_PLAN', 'REENGAGEMENT_ACTIVE_FUNDS', 'BLACK_FRIDAY',
       'LOST_CARD_ORDER', 'FIFTH_PAYMENT_PROMO', 'JOINING_ANNIVERSARY',
       'PUMPKIN_PAYMENT_NOTIFICATION', 'PREMIUM_ENGAGEMENT_FEES_SAVED',
       'PREMIUM_ENGAGEMENT_INACTIVE_CARD', 'WELCOME_HOME',
       'METAL_GAME_START', 'NO_INITIAL_CARD_USE', 'NO_INITIAL_CARD_ORDER',
       'ONBOARDING_TIPS_ACTIVATED_USERS',
       'ENGAGEMENT_SPLIT_BILL_RESTAURANT',
       'MADE_MONEY_REQUEST_NOT_SPLIT_BILL',
       'NO_INITIAL_FREE_PROMOPAGE_CARD_ORDER'], dtype=object)

In [ ]:
notifs['channel'].unique()

array(['SMS', 'PUSH', 'EMAIL'], dtype=object)

In [ ]:
notifs['status'].unique()

array(['SENT', 'FAILED'], dtype=object)

In [ ]:
notifs['user_id'].isnull().sum()

0

In [ ]:
notifs['created_date'].isnull().sum()

0

In [ ]:
notifs.dtypes

reason                  object
channel                 object
status                  object
user_id                 object
created_date    datetime64[ns]
dtype: object

In [ ]:
notifs['created_date'] = pd.to_datetime(notifs['created_date'],errors='coerce').dt.tz_localize(None)

In [ ]:
#checking that all user_ids are a standard length
lengths = notifs["user_id"].astype(str).str.len()

min_len = lengths.min()
max_len = lengths.max()

print(f"Min length: {min_len}")
print(f"Max length: {max_len}")

print("User IDs with the shortest length:")
print(devices[devices["user_id"].astype(str).str.len() == min_len]["user_id"].unique())
print("User IDs with the longest length:")
print(devices[devices["user_id"].astype(str).str.len() == max_len]["user_id"].unique())

Min length: 1
Max length: 5
User IDs with the shortest length:
<IntegerArray>
[1, 6, 4, 0, 5, 3, 7, 9, 8, 2]
Length: 10, dtype: Int64
User IDs with the longest length:
<IntegerArray>
[11885, 15533, 11964, 10670, 19220, 14587, 15593, 12295, 12617, 18270,
 ...
 13121, 15790, 10442, 15105, 10984, 13531, 12568, 12296, 19056, 12199]
Length: 9430, dtype: Int64

In [ ]:
# Check if all user_id s are numeric
mask = notifs['user_id'].str.isnumeric()
all_numeric = mask.all()
all_numeric

True

In [ ]:
# Then cast integer to the field
notifs['user_id'] = notifs['user_id'].astype('int64')

In [ ]:
notifs.dtypes

reason                  object
channel                 object
status                  object
user_id                  int64
created_date    datetime64[ns]
dtype: object

In [ ]:
#creates new clean file
notifs.to_parquet("/home/eberniczky/code/neo_bank/data/cleaned/notifications.parquet", index=False)

In [ ]:
#####

In [ ]:
validator = context.sources.pandas_default.read_parquet("/home/eberniczky/code/neo_bank/data/cleaned/notifications.parquet")

In [ ]:
notifs.head(2)

               reason channel status  user_id               created_date
0  METAL_RESERVE_PLAN     SMS   SENT     4703 2018-10-14 01:48:13.319987
1  METAL_RESERVE_PLAN     SMS   SENT     2397 2018-10-17 08:07:05.709072

In [ ]:
for col in ["reason", "channel","status","created_date","user_id"]:
    result = validator.expect_column_values_to_not_be_null(col)
    print(f"Expectation for '{col}':", result)

Calculating Metrics:   0%|          | 0/6 [00:00<?, ?it/s]

Expectation for 'reason': {
  "success": true,
  "expectation_config": {
    "expectation_type": "expect_column_values_to_not_be_null",
    "kwargs": {
      "column": "reason",
      "batch_id": "default_pandas_datasource-#ephemeral_pandas_asset"
    },
    "meta": {}
  },
  "result": {
    "element_count": 121813,
    "unexpected_count": 0,
    "unexpected_percent": 0.0,
    "partial_unexpected_list": []
  },
  "meta": {},
  "exception_info": {
    "raised_exception": false,
    "exception_traceback": null,
    "exception_message": null
  }
}

Calculating Metrics:   0%|          | 0/6 [00:00<?, ?it/s]

Expectation for 'channel': {
  "success": true,
  "expectation_config": {
    "expectation_type": "expect_column_values_to_not_be_null",
    "kwargs": {
      "column": "channel",
      "batch_id": "default_pandas_datasource-#ephemeral_pandas_asset"
    },
    "meta": {}
  },
  "result": {
    "element_count": 121813,
    "unexpected_count": 0,
    "unexpected_percent": 0.0,
    "partial_unexpected_list": []
  },
  "meta": {},
  "exception_info": {
    "raised_exception": false,
    "exception_traceback": null,
    "exception_message": null
  }
}

Calculating Metrics:   0%|          | 0/6 [00:00<?, ?it/s]

Expectation for 'status': {
  "success": true,
  "expectation_config": {
    "expectation_type": "expect_column_values_to_not_be_null",
    "kwargs": {
      "column": "status",
      "batch_id": "default_pandas_datasource-#ephemeral_pandas_asset"
    },
    "meta": {}
  },
  "result": {
    "element_count": 121813,
    "unexpected_count": 0,
    "unexpected_percent": 0.0,
    "partial_unexpected_list": []
  },
  "meta": {},
  "exception_info": {
    "raised_exception": false,
    "exception_traceback": null,
    "exception_message": null
  }
}

Calculating Metrics:   0%|          | 0/6 [00:00<?, ?it/s]

Expectation for 'created_date': {
  "success": true,
  "expectation_config": {
    "expectation_type": "expect_column_values_to_not_be_null",
    "kwargs": {
      "column": "created_date",
      "batch_id": "default_pandas_datasource-#ephemeral_pandas_asset"
    },
    "meta": {}
  },
  "result": {
    "element_count": 121813,
    "unexpected_count": 0,
    "unexpected_percent": 0.0,
    "partial_unexpected_list": []
  },
  "meta": {},
  "exception_info": {
    "raised_exception": false,
    "exception_traceback": null,
    "exception_message": null
  }
}

Calculating Metrics:   0%|          | 0/6 [00:00<?, ?it/s]

Expectation for 'user_id': {
  "success": true,
  "expectation_config": {
    "expectation_type": "expect_column_values_to_not_be_null",
    "kwargs": {
      "column": "user_id",
      "batch_id": "default_pandas_datasource-#ephemeral_pandas_asset"
    },
    "meta": {}
  },
  "result": {
    "element_count": 121813,
    "unexpected_count": 0,
    "unexpected_percent": 0.0,
    "partial_unexpected_list": []
  },
  "meta": {},
  "exception_info": {
    "raised_exception": false,
    "exception_traceback": null,
    "exception_message": null
  }
}

# Sending Cleaned Data to GCP Cloud Storage Bucket

In [ ]:
from dotenv import load_dotenv

load_dotenv(override=True)

False

In [ ]:
print(os.getenv('GOOGLE_APPLICATION_CREDENTIALS'))

/home/denizgokalp.5/.gcp_keys/le-wagon-de-bootcamp.json

In [ ]:
from google.cloud import storage

In [ ]:
def upload_to_gcs(bucket_name, source_file_path, destination_blob_name):
    """Uploads a file to the GCS bucket."""
    client = storage.Client()
    bucket = client.bucket(bucket_name)

    # Add filename if destination is a "folder"
    if destination_blob_name.endswith("/"):
        filename = os.path.basename(source_file_path)
        destination_blob_name += filename


    blob = bucket.blob(destination_blob_name)
    blob.upload_from_filename(source_file_path)

    print(f"Uploaded {source_file_path} to gs://{bucket_name}/{destination_blob_name}")

In [ ]:
# #For single file
# upload_to_gcs(
#     bucket_name="neobank_data_bucket",
#     source_file_path="/home/neobanking2025/projects/neo_bank/data/cleaned/transactions.parquet",
#     destination_blob_name="staging_data/"
# )

In [ ]:
files_to_upload = [
    "transactions.parquet",
    "users.parquet",
    "notifications.parquet",
    "devices.parquet"
]

In [ ]:
#for multiple files
for filename in files_to_upload:
    source_path = f"/home/eberniczky/code/neo_bank/data/cleaned/{filename}"
    upload_to_gcs(
        bucket_name="neobank_data_bucket",
        source_file_path=source_path,
        destination_blob_name="data/"
    )

Uploaded /home/denizgokalp.5/code/mitchell5/neo_bank/data/cleaned/transactions.parquet to gs://neobank_data_bucket_deniz/data/transactions.parquet
Uploaded /home/denizgokalp.5/code/mitchell5/neo_bank/data/cleaned/users.parquet to gs://neobank_data_bucket_deniz/data/users.parquet
Uploaded /home/denizgokalp.5/code/mitchell5/neo_bank/data/cleaned/notifications.parquet to gs://neobank_data_bucket_deniz/data/notifications.parquet
Uploaded /home/denizgokalp.5/code/mitchell5/neo_bank/data/cleaned/devices.parquet to gs://neobank_data_bucket_deniz/data/devices.parquet

In [ ]:
#checking it worked

client = storage.Client()
bucket = client.bucket("neobank_data_bucket")

blobs = list(bucket.list_blobs(prefix="data/"))

for blob in blobs:
    print(blob.name)

data/devices.parquet
data/notifications.parquet
data/transactions.parquet
data/users.parquet

In [ ]:
!pwd

/home/denizgokalp.5/code/mitchell5/neo_bank/part_1-data_exploration

In [ ]:
!which python

/home/denizgokalp.5/code/mitchell5/neo_bank/part_1-data_exploration/.venv/bin/python

In [ ]:
devices.head()

  device_type  user_id
0       Apple     6809
1       Apple     3636
2       Apple      510
3       Apple     3468
4       Apple     7036

In [ ]:
trans.head()

,transaction_id,transactions_type,transactions_currency,amount_usd,transactions_state,ea_cardholderpresence,ea_merchant_country,direction,user_id,created_date
0,1884,REFUND,AED,1.76,COMPLETED,False,UNKNOWN,INBOUND,8098,2018-09-25 16:03:40.978243
1,1728,REFUND,AED,639.31,COMPLETED,False,UNKNOWN,INBOUND,182,2018-03-31 13:45:25.262231
2,1755782,REFUND,AED,3.49,COMPLETED,False,UNKNOWN,INBOUND,14271,2018-11-17 16:47:25.748975
3,1973,TOPUP,AED,6079.39,COMPLETED,False,UNKNOWN,INBOUND,4773,2018-08-13 21:51:28.670363
4,1716,TOPUP,AED,206.65,COMPLETED,False,UNKNOWN,INBOUND,1363,2018-10-30 14:34:57.479895

In [ ]:
notifs.head()

               reason channel status  user_id               created_date
0  METAL_RESERVE_PLAN     SMS   SENT     4703 2018-10-14 01:48:13.319987
1  METAL_RESERVE_PLAN     SMS   SENT     2397 2018-10-17 08:07:05.709072
2  METAL_RESERVE_PLAN     SMS   SENT     2411 2018-10-14 03:46:34.244392
3  METAL_RESERVE_PLAN     SMS   SENT     1119 2018-10-14 14:16:35.801185
4  METAL_RESERVE_PLAN     SMS   SENT     3499 2018-10-14 18:41:09.268675

In [ ]:
users.head()

,user_id,birth_year,country,created_date,user_settings_crypto_unlocked,plan,attributes_notifications_marketing_push,attributes_notifications_marketing_email,num_contacts
0,2811,1988,IE,2018-03-04 21:46:39.616834,False,STANDARD,<NA>,<NA>,0
1,4750,1987,FR,2018-04-07 06:49:18.345736,False,STANDARD,<NA>,<NA>,0
2,17686,1984,GB,2018-12-04 10:28:02.653147,False,PREMIUM,<NA>,<NA>,6
3,18779,1965,GB,2018-12-31 07:42:19.353613,False,STANDARD,<NA>,<NA>,0
4,7823,1999,PL,2018-06-07 03:22:40.590209,False,STANDARD,<NA>,<NA>,0

# Sending it from Bucket to BigQuery

In [ ]:
#terminal commands

In [ ]:
!gcloud config set project sacred-choir-466017-s9

Updated property [core/project].

In [ ]:
!gcloud auth application-default set-quota-project sacred-choir-466017-s9

Credentials saved to file: [/home/denizgokalp.5/.config/gcloud/application_default_credentials.json]

These credentials will be used by any library that requests Application Default Credentials (ADC).

Quota project "sunny-state-459119-b7" was added to ADC which can be used by Google client libraries for billing and quota. Note that some services may still bill the project owning the resource.

In [ ]:
!bq load --source_format=PARQUET \
--replace \
neobank_data_raw.raw_devices \
gs://neobank_data_bucket/data/devices.parquet

Waiting on bqjob_r4f9ca7567226e79_0000019829bd0292_1 ... (1s) Current status: DONE

In [ ]:
!bq load --source_format=PARQUET \
--replace \
neobank_data_raw.raw_users \
gs://neobank_data_bucket/data/users.parquet

Waiting on bqjob_r6456022fe63dfbed_0000019829bd1dd1_1 ... (1s) Current status: DONE

In [ ]:
!bq load --source_format=PARQUET \
--replace \
neobank_data_raw.raw_transactions \
gs://neobank_data_bucket/data/transactions.parquet

Waiting on bqjob_r47abe83be96d959e_0000019829bd3b40_1 ... (4s) Current status: DONE

In [ ]:
!bq load --source_format=PARQUET \
--replace \
neobank_data_raw.raw_notifications \
gs://neobank_data_bucket/data/notifications.parquet

Waiting on bqjob_r29a50782eace1fd4_0000019829bd6116_1 ... (0s) Current status: DONE
BigQuery error in load operation: Error processing job 'sunny-
state-459119-b7:bqjob_r29a50782eace1fd4_0000019829bd6116_1': Error while reading
data, error message: Invalid timestamp microseconds value 1539481693319987000 of
logical type TIMESTAMP_NANOS; in column 'created_date' File:
gs://neobank_data_bucket_deniz/data/notifications.parquet